<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/htmlDemo">HTML Demo</a></li>
            <li><a href="#">Student Name: Hiruni Malsha</a></li>
        </ul>
    </nav>

    <h1>Welcome to my website</h1>
    <p>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>

    <h2>Website Overview</h2>
    <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including:</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/htmlDemo">HTML Demo</a></li>
        <li><a href="/students">All Students</a></li>
        <li><a href="/students?course=3">Students by Course</a></li>
        <li><a href="/student/2">A Single Student By Student Number</a></li>
        <li><a href="/tas">All Managers</a></li>
        <li><a href="/courses">All Courses</a></li>
    </ul>

    <h2>Introduction to HTML5</h2>
    <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. HTML5 includes new elements, attributes, and behaviors, and a larger set of technologies that allows for more diverse and powerful web applications.</p>
</body>
</html>
